@model HomeViewModel
@using eShopSolution.ViewModels.Catalog.Products;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}

@{
    ViewData["Title"] = "Home Page";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img style="width:260px; height:300px; margin-left: 50px; margin-top: -20px" src="https://i5.walmartimages.com/asr/50e84fa8-e6a8-4c80-9d04-a53201551931.fada78e489bbdd71a6fade315d4ec22e.jpeg" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Dear, Klairs<br></h3>
                        <a href="#" class="cta-btn">Mua ngay <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img style="width:260px; height:220px; margin-left: 50px; margin-top:30px; margin-bottom:30px" src="http://www.couturing.com/wp/wp-content/uploads/2020/06/innisfree-pore-family.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Innisfree<br></h3>
                        <a href="#" class="cta-btn">Mua ngay <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img style="width:190px; height:220px; margin-left: 85px; margin-top:30px; margin-bottom:30px" src="https://www.stylekorean.com/data/item/1655195153/3.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Cosrx<br></h3>
                        <a href="#" class="cta-btn">Mua ngay <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm mới</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var item in Model.LatestProducts)
                                {
                                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                    <div class="product">
                                        <div class="product-img">
                                            <a style="height:214px;" href="@url">
                                                <img style="margin-left:auto;margin-right:auto;display:block" height="214" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name">
                                            </a>
                                            <div class="product-label">
                                                @if (item.Stock <= 0)
                                                {
                                                    <span class="sale">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="new">Mới</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@item.Category.Name</p>
                                            <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                            <h4 class="product-price">@item.Price.ToString("N0") <span>&#8363;</span></h4>
                                        </div>
                                        @if (item.Stock <= 0)
                                        {

                                        }
                                        else
                                        {
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                            </div>
                                        }

                                    </div>
                                }
                                <!-- /product -->
                            </div>
                           
                        </div>
                        <!-- /tab -->
                    </div>
                </div>


                <div class="row">
                <div class="products-tabs">
                    <!-- tab -->
                    <div id="tab1" class="tab-pane active">
                        <div class="products-slick" data-nav="#slick-nav-1">
                            <!-- product -->
                            @foreach (var item in Model.LatestProducts)
                            {
                                var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                <div class="product">
                                    <div class="product-img">
                                        <a style="height:214px;" href="@url">
                                            <img style="margin-left:auto;margin-right:auto;display:block" height="214" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name">
                                        </a>
                                        <div class="product-label">
                                            @if (item.Stock <= 0)
                                            {
                                                <span class="sale">Hết hàng</span>
                                            }
                                            else
                                            {
                                                <span class="new">Mới</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">@item.Category.Name</p>
                                        <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                        <h4 class="product-price">@item.Price.ToString("N0") <span>&#8363;</span></h4>
                                    </div>
                                    @if (item.Stock <= 0)
                                    {

                                    }
                                    else
                                    {
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                        </div>
                                    }

                                </div>
                            }
                            <!-- /product -->
                        </div>
                     
                    </div>
                    <!-- /tab -->
                </div>
            </div>
            </div>


            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>03</h3>
                                <span>Ngày</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>23</h3>
                                <span>Tiếng</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>29</h3>
                                <span>Phút</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>59</h3>
                                <span>Giây</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">Ưu đãi hot tuần này</h2>
                    <p>Giảm lên đến 30%</p>
                    <a class="primary-btn cta-btn" href="#">Mua ngay</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm bán chạy</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                @foreach (var item in Model.LatestProducts)
                                {
                                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                                    <div class="product">
                                        <div class="product-img">
                                            <a style="height:214px;" href="@url">
                                                <img style="margin-left:auto;margin-right:auto;display:block" height="214" src="@(Configuration["BaseAddress"] + item.ThumbnailImage)" alt="@item.Name">
                                            </a>
                                            <div class="product-label">
                                                @if (item.Stock == 0)
                                                {
                                                    <span class="sale">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="new">Hot</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">@item.Category.Name</p>
                                            <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                            <h4 class="product-price">@item.Price.ToString("N0") <span>&#8363;</span></h4>
                                        </div>
                                        @if (item.Stock == 0)
                                        {

                                        }
                                        else
                                        {
                                            <div class="add-to-cart">
                                                <button class="add-to-cart-btn" data-id="@item.Id"><i class="fa fa-shopping-cart"></i> thêm vào giỏ hàng</button>
                                            </div>
                                        }

                                    </div>
                                }
                                <!-- /product -->
                            </div>
                          
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
